<div class="container relatorio">
    <h1 class="text-center"> Relatório completo </h1>
    <form (ngSubmit)="sendPostRequest()" #form="ngForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">URL</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="url" name="url" required>
            <div id="emailHelp" class="form-text">Infome uma URL de um site Wordpress válido</div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid || isLoading">
            {{ isLoading ? 'Enviando...' : 'Enviar' }}
        </button>
    </form>
</div>

<div class="container" *ngIf="responseData">
    <!-- Tabela sobre a versão principal -->
    <h2 class="mt-4">Informações da Versão Principal</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Version Number (Main)</td>
                <td>{{ responseData.version.version.number }}</td>
            </tr>
            <tr>
                <td>Status (Main)</td>
                <td>{{ responseData.version.version.status }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Tabela sobre o tema principal -->
    <h2 class="mt-4">Informações do Tema Principal</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Style Name (Main Theme)</td>
                <td>{{ responseData.main_theme.style_name }}</td>
            </tr>
            <tr>
                <td>Slug (Main Theme)</td>
                <td>{{ responseData.main_theme.slug }}</td>
            </tr>
            <tr>
                <td>Latest Version (Main Theme)</td>
                <td>{{ responseData.main_theme.latest_version }}</td>
            </tr>
            <tr>
                <td>Outdated (Main Theme)</td>
                <td>{{ responseData.main_theme.outdated }}</td>
            </tr>
            <tr>
                <td>Version Number (Main Theme)</td>
                <td>{{ responseData.main_theme.version?.number }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Tabela sobre os plugins -->
    <h2 class="mt-4">Informações dos Plugins</h2>
    <ng-container *ngFor="let pluginKey of getPluginKeys(responseData.plugins)">
        <h3>{{ responseData.plugins[pluginKey].name }} ({{ pluginKey }})</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Campo</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Slug</td>
                <td>{{ responseData.plugins[pluginKey].slug }}</td>
            </tr>
            <tr>
                <td>Last Updated</td>
                <td>{{ responseData.plugins[pluginKey].last_updated }}</td>
            </tr>
            <tr>
                <td>Version Number</td>
                <td>{{ responseData.plugins[pluginKey].version?.number }}</td>
            </tr>
            <tr>
                <td>Added</td>
                <td>{{ responseData.plugins[pluginKey].added }}</td>
            </tr>
            <tr>
                <td>Outdated</td>
                <td>{{ responseData.plugins[pluginKey].outdated }}</td>
            </tr>
            <tr>
                <td>Latest Version</td>
                <td>{{ responseData.plugins[pluginKey].latest_version }}</td>
            </tr>
            <tr>
                <td>Vulnerabilities</td>
                <td>{{ responseData.plugins[pluginKey].vulnerabilities?.length > 0 ? responseData.plugins[pluginKey].vulnerabilities.join(', ') : 'Nenhuma' }}</td>
            </tr>
            </tbody>
        </table>
    </ng-container>
</div>
