<div class="container card mb-3 apresentacao">
    <img src="assets/img/home.png" class="card-img-top" alt="..." width="500" height="500">
    <div class="card-body">
        <h5 class="card-title">Scan Vulnerabilidades WordPress</h5>
        <p class="card-text">
            Este sistema tem o objetivo de retornar dados do banco de dados CVE (Common Vulnerabilities and Exposures), especificamente relacionados a sites desenvolvidos com WordPress. Isso inclui a exibição de quaisquer vulnerabilidades associadas a temas, plugins e versões do WordPress encontrados no site alvo.
        </p>
    </div>
</div>
