<div class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="px-3">
            <h1>Scan Vulnarabilidade WP</h1>
        </div>
    </div>
</div>

<img src="assets/img/home.png" class="img-fluid" alt="...">

<div class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="px-3">
            <p class="lead">
                Este sistema tem o objetivo de retornar dados do banco de dados CVE (Common Vulnerabilities and Exposures), especificamente relacionados a sites desenvolvidos com WordPress. Isso inclui a exibição de quaisquer vulnerabilidades associadas a temas, plugins e versões do WordPress encontrados no site alvo.
            </p>
        </div>
    </div>
</div>