<div class="container relatorio">
    <h1 class="text-center"> Relatório completo </h1>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">URL</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Infome uma URL de um site Wordpress válido</div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
