<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" alt="" width="50" height="50">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">infoPlugins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">inforTema</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">infoVersaoWP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Relatório</a>
                </li>
            </ul>
        </div>
    </div>
</nav>